<div class="container">
	<table class="table">
		<thead>
			<th>URL</th>
			<th>UPC</th>
			<th>Precio Actual</th>
			<th>Precio Terapeak</th>
			<th>Precio LP</th>
			<th>Margen Bruto</th>
			<th>Margen Neto</th>
			<th>ROI %</th>
			<th>Name</th>
		</thead>
		<tbody>
			<% @products.each do |p| %> 
				<tr>
					<% if p.url.nil? %> 
						<td><input placeholder="url de la publicacion"></td>
					<% else %> 
						<td><%= p.url %></td>
					<% end %> 
					<td><%= p.upc %></td>
					<th><%= p.current_price %></th>
					<th><%= p.average_price %></th>
					<th><%= p.cost %></th>
					<th><%= p.gross_margin %></th>
					<th><%= p.net_margin %></th>
					<th><%= p.roi %></th>
					<th><%= p.name %></th>
				</tr>
			<% end %> 
		</tbody>
	</table>
</div>