<div class="container">
	<table class="table">
		<thead>
			<th>URL</th>
			<th>UPC</th>
			<th>Precio Actual</th>
			<!-- <th>Precio Terapeak</th> -->
			<th>Precio LP</th>
			<th>Margen Bruto</th>
			<th>Margen Neto</th>
			<th>ROI %</th>
			<th>Name</th>
		</thead>
		<tbody>
			<% @products.each do |p| %> 
				<tr>
					<td>
					<% if p.url.nil? %> 
						
							<input placeholder="url de la publicacion" id="product_<%= p.id %>" onchange="traerData('product_<%=p.id %>')">
							<p id="guardado_<%= p.id %>" class="hidden">Guardado!</p>
					<% else %> 
						<a href="<%= p.url %>" target="_blank">Ver Publicacion</a>
					<% end %> 
					</td>
					<td><%= p.upc %></td>
					<th><%= p.current_price %></th>
					<!-- <th><%#= p.average_price %></th> -->
					<th><%= p.cost %></th>
					<th><%= p.gross_margin.present? ? p.gross_margin.round(2) : "" %></th>
					<th><%= p.net_margin.present? ? p.net_margin.round(2) : "" %></th>
					<th><%= p.roi.present? ? 100*p.roi.round(4) : "" %></th>
					<th><%= p.name %></th>
				</tr>
			<% end %> 
		</tbody>
	</table>
</div>


<script>


	function traerData(product_id){
    console.log("entramos en traerData ")
    var url = $('#' + product_id).val();
    $('#' + product_id).hide();
    $('#' + product_id.replace("product_", "guardado_")).removeClass("hidden");
    $.ajax({
      type:"POST", 
      url:"<%= url_for traer_data_products_path(:id => 33)%>", 
      data: { product_id: product_id, url:url, "authenticity_token": AUTH_TOKEN },
      dataType: 'json',
      success:function(result){
        console.log("listo ")
        console.log(result)
      }
    });
  };


</script>